    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Deans Honor Roll Spring 2016</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
             Deans Honor Roll Fall/Spring 2017</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Deans Honor Roll Fall/Spring 2018</li>
 
        </ul>
      </div>
    </section>