    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Arcadia University</h3>
            <div class="subheading mb-3">Bachelor of Science</div>
            <div>Computer Science - Bioinformatics Minor</div>
            <p>GPA: 3.78</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2016 - May 2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">University of Stirling</h3>
            <div class="subheading mb-3">Firt Year Study Abroad Program</div>

          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2016 - December 2016</span>
          </div>
        </div>

      </div>
    </section>