 <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Equipment Room Supervisor</h3>
            <div class="subheading mb-3">Arcadia University Media and Communications</div>
            <p>Work with emerging technoligies in the film and photgraphy industry, creating unique solutions to conflicts of the ever-updating industry standards. Running trials and set up various technoliges including Virtual Reality (Oculus Rift), BrightSign Media Players, Wireless beacons, 3D Scanners and printers, and Raspberry Pis.
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Jan 2017 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">SAS Training</h3>
            <div class="subheading mb-3">Arcadia University</div>
            <p>Enrolled in two extensive courses on SAS Programming, a software/language commonly used in the Healthcare industry for data management purposes.Worked with experienced mentors in the industry who guided and helped develop methods used to analyze and display large sets of raw data from healthcare databases.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">January 2018 - January 2019</span>
          </div>
        </div>


      </div>

    </section>