    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>When I am not on my computer, I love to be on the water as much as possible. I love to scuba dive, paddle board, sail and boat during every minute of summer. I love to go new places and try new things as much as possible, especially if it involves trying a new coffee shop.</p>
        <p class="mb-0">If I have to stay home, I love to read and do art, especially painting and playing any instrument I can learn. I love to discover new music and I am always lurking through new playlists on Spotify, SoundCloud, Pandora or Youtube. I am very interested in all of the algorithms behind music recommendation services and pop charts. /p>
      </div>
    </section>