 <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>


        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Java/ Object Oriented Programming</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Python and data science (concentrated in Bioinformatics)</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Data mining &amp; Database management </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Linux &amp; Raspberry Pi environment</li>
        </ul>
      </div>
    </section>